.env
datasets/data
models/training/isolation_forest/creditcard/reports
models/training/local_outlier_factor/models
models/training/local_outlier_factor/creditcard/reports
models/training/svm/models
models/training/svm/creditcard/models
models/training/svm/creditcard/reports
reports/credit_card/output
models/training/isolation_forest/transistor/reports
models/training/isolation_forest/models
models/training/local_outlier_factor/transistor/reports
models/training/svm/transistor/reports
models/training/isolation_forest/school/reports
models/training/local_outlier_factor/school/reports
models/training/svm/school/reports
models/training/isolation_forest/cyber/reports
models/training/local_outlier_factor/cyber/reports
models/training/svm/cyber/reports
reports/*/output
models/inference/cyber/predictions